/* HEADER */

.col-right{
  justify-content: flex-end;
}

.col-right h5{
  margin-top: 30px;
  margin-right: 20px;
}

.form-control{
  width: 100px;
  margin-right: 20px;
}

.logo img{
  width: 80px;
}

.logo h3{
  display: inline-block;
}
/* /HEADER */

/* MAIN */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(2, 83, 121);
  height: calc(100vh - 200px);
}

h1{
  color: white;
  padding: 15px 25px;
  border: 2px solid white;
  border-radius: 50px;
}

.field{
  width: 600px;
  height: 600px;
}

.cell{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  background-image: url(../img/door.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.cell span{
  display: none;
} 

.square100{    
  width: calc(100% / 10);
  height: calc(100% / 10);
}  

.square81{    
  width: calc(100% / 9);
  height: calc(100% / 9);
} 

.square49{
  width: calc(100% / 7);
  height: calc(100% / 7);
} 

.clicked{
  background-image: url(../img/room.png);
  background-size: cover;
  background-position: center;
}

.bomb{
  background-image: url(../img/bomba.png);
  background-size: cover;
  background-position: center;
}

section{
  text-align: center;
  background-color: rgb(2, 83, 121);
  padding-bottom: 10px;
  color: rgb(255, 196, 0);
  text-decoration: underline;
} 
/* /MAIN */

/* FOOTER */

.foot h6{
  padding-top: 20px;
}
.foot span{
  text-decoration: underline;
  color: blue;
}
/* /FOOTER*/
